html, body {
    height: 100%
    margin: 0;

}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  color: skyblue;
  overflow: hidden;
  text-align: center;
}

.container form {
  margin: 60px;

}
.container h1 {
  font-family: cursive;
  font-size: 30px;
  color: darkgreen;
  margin-top: auto;
}

.container button {
  width:70px;
  height: 30px;
  background-color: steelblue;
  margin: 3px;
}

.container input {
  width: 225px;
  height: 50px;
  font-size: 15px;
  margin: 2px;
  padding: 5px;
  transition: all 0.2s ease-in-out;
}

.output {
  display: inline-block;
}
